.scroll,
.scroll_button {
    background: red url(expand_less_black_24dp.svg) no-repeat center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: auto !important;
    opacity: 0;
    transition: opacity 0.5s;
}
.scroll_button {
    background-color: green;
    left: 20px;
}
.scroll.show,
.scroll_button.show {
    cursor: pointer !important;
    opacity: 1;
}